// Наш грид на flexbox

.grid {
	display:flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

// Бокове паддинги для колонок грида, запись для вас странная но все просто, таким образом мы задаем паддинги на непосредственных потомков
// чтобы не повторять для каждого варианта ширины

.grid > [class*="width-"] {
	padding: 0 15px;
}

// Эти стили для картинки задал только для примера чтобы имаги тянулись в примере грида, удаляем по ненадобности

.grid > [class*="width-"] img {
	width: 100%;
}

// Колонки грида

.width-1 {
	width: 100%;
}

.width-2 {
	width: 50%;
}

.width-3 {
	width: 33.33%;
}

.width-4 {
	width: 25%;
}

.width-5 {
	width: 20%;
}